
        body {
            font-family: 'Montserrat', sans-serif;
            background: linear-gradient(270deg, #8FEAFF, #FFD3F3);
            margin: 0;
            padding: 0;
        }

        header {
            background: linear-gradient(270deg, #8FEAFF, #FFD3F3);
            padding: 20px 0;
            text-align: center;
        }

        header img {
            max-width: 190px;
            display: inline-block;
        }

        #nm {
            margin-top: 20px;
            border-radius: 50px;
            font-size: 18px;
        }

        .hero {
            background-color: #007bff;
            color: #fff;
            text-align: center;
            padding: 100px 0;
        }

        .hero h2,
        .hero h1 {
            margin-bottom: 20px;
        }

        .hero h1 {
            font-size: 48px;
        }

        .hero h2 {
            font-size: 24px;
        }

        .boxes {
            padding: 50px 0;
        }

        .box {
            background-color: whitesmoke;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            text-align: center;
            transition: all 0.3s ease-in-out;
        }

        .box:hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            transform: translateY(-5px);
        }

        .box h3 {
            color: forestgreen;
        }

        footer {
            background-color: #343a40;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        footer a {
            color: #fff;
            margin: 0 10px;
        }

        .social-icons {
            margin-top: 20px;
        }

        .social-icon {
            font-size: 30px;
            margin: 0 10px;
            color: mediumseagreen;
            transition: color 0.3s;
        }

        .social-icon:hover {
            color: #007bff;
        }

        .livestream-section {
            background-color: lightgoldenrodyellow;
            color: #0d554a;
            padding: 50px 0;
            border-radius: 20px;
            text-align: center;
        }

        .livestream-section h2,
        .livestream-section h1 {
            margin-bottom: 20px;
        }

        .livestream-section h1 {
            font-size: 36px;
        }

        .livestream-section h2 {
            font-size: 24px;
        }

        .livestream-section .description {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .livestream-section .date-location {
            font-size: 16px;
        }

        .cad {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin: 50px 0;
        }

        .socialContainer {
            width: 52px;
            height: 52px;
            background-color: rgb(44, 44, 44);
            display: flex;
            align-items: center;
            justify-content: center;
            transition-duration: 0.3s;
            border-radius: 50%;
        }

        .containerOne:hover {
            background-color: #d62976;
        }

        .containerTwo:hover {
            background-color: #00acee;
        }

        .containerThree:hover {
            background-color: #0072b1;
        }

        .containerFour:hover {
            background-color: #128C7E;
        }

        .socialSvg {
            width: 17px;
        }

        .socialSvg path {
            fill: rgb(255, 255, 255);
        }

        @keyframes slide-in-top {
            0% {
                transform: translateY(-50px);
                opacity: 0;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .containerOne:hover .socialSvg,
        .containerTwo:hover .socialSvg,
        .containerThree:hover .socialSvg,
        .containerFour:hover .socialSvg {
            animation: slide-in-top 0.3s both;
        }

        @media (max-width: 768px) {
            .social-icon {
                font-size: 24px;
            }

            #nm {
                font-size: 14px;
            }

            .hero h1 {
                font-size: 36px;
            }

            .hero h2 {
                font-size: 20px;
            }

            .livestream-section h1 {
                font-size: 28px;
            }

            .livestream-section h2 {
                font-size: 20px;
            }

            .livestream-section .description {
                font-size: 16px;
            }

            .livestream-section .date-location {
                font-size: 14px;
            }

            .socialContainer {
                width: 40px;
                height: 40px;
            }

            .socialSvg {
                width: 14px;
            }
        }
